
.wpcf7 {
  margin: 2rem 0!important;
}

input.wpcf7-form-control,
textarea.wpcf7-form-control,
input,
textarea {
  border: none;
  padding-left: .5rem;
}
textarea.wpcf7-form-control,
textarea {
  height: 15rem;
}

.wpcf7-form-control input[type="submit"],
textarea.wpcf7-form-control,
button:focus {
  outline: none;
}

input.wpcf7-form-control.wpcf7-submit{
  font-family: 'agrem', sans-serif!important;
  font-size: 2rem!important;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}
input.wpcf7-form-control,
textarea.wpcf7-form-control,
.full-width {
  width: 100%;
}

input.wpcf7-form-control,
textarea.wpcf7-form-control,
.input-line {
  background: none;
  margin-bottom: .5rem;
  line-height: 2.4em;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.02rem;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
textarea.wpcf7-form-control,
textarea.input-line {
  border-left: 1px solid rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
}

input.wpcf7-form-control:focus,
textarea.wpcf7-form-control:focus,
.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

input[type="submit"].wpcf7-form-control,
input.wpcf7-form-control.wpcf7-submit,
.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

input[type="submit"].wpcf7-form-control:hover,
input.wpcf7-form-control.wpcf7-submit:hover,
.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

span.wpcf7-not-valid-tip {
  color: #dd7907!important;
}

.wpcf7-response-output.wpcf7-validation-errors{
  border: 1px solid #dd7907!important;
  color: #f89525!important; //25% lighter
  margin: 0 0 1rem 0;
}
