.navbar {
  @include heading-font;
}

//link color
a.nav-link,
a.text-light {
  color: $white;
  &:hover,
  &:focus,
  &:active {
    color: darken($white, 15%);
    text-decoration: none;
  }
}

.dropdown-item {
  color: $dark-grey-dark-theme;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: lighten($dark-grey-dark-theme, 20%);
    text-decoration: none;
    background-color: transparent;
  }
}


//remove blue/yellow outline when clicked on icon
.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
