// Variables

$white:    #fff !default;
$soft-grey: #eaeaea !default;
$dark-grey: #333132 !default;
// Light theme
$dark-grey-light-theme: #333132 !default;
$light-grey-light-theme: #bcbbbb !default;
$soft-grey-light-theme: #eaeaea !default;
// Dark theme
$dark-grey-dark-theme: #000000 !default;
$light-grey-dark-theme: #0E0F10 !default;
$soft-grey-dark-theme: #0E0F10 !default;
$curry: #d9a625 !default;
